<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="frame">
        <div class="t">
          PORTAFOLIO DE PAN
          <div class="info">
            INFORMACION
            <div class="parrafo">
              <p>
                Os gatos são animais domésticos populares por sua independência
                e caráter brincalhão. São conhecidos por sua agilidade e
                habilidades de caça. Seu ronronar é relaxante e gostam de
                explorar seu ambiente, fazendo deles companheiros curiosos e
                encantadores em casa.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
