.container {
  /* Contenedor que contiene tanto el frame como el texto */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  width: 1450px;
  height: 832px;
  background: #70e070;
  background-size: cover;
  background-image: url(https://i.pinimg.com/originals/26/b8/f1/26b8f1a0d3308bd834ad7152b6062e1a.gif);
  /* Añade padding para que el texto tenga espacio */
  padding: 20px;
  /* Añade display flex para que el texto se posicione arriba a la izquierda */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.t {
  width: 1000px;
  animation-duration: 2ms;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-shadow: 0 0 10px #000000;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

.info {
  width: 135px;
  height: 53px;
  display: flex;
  flex-shrink: 0;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serifS;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 2rem;
  margin-left: 4rem;
}

.parrafo {
  width: 35rem;
  height: 20%;
  display: flex;
  flex-shrink: 0;
  color: #fff;
  font-family: "JetBrains Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-shadow: 0 0 10px #000000;
  margin-top: 40px;
  margin-left: -350px;
  object-fit: fill;
  border-radius: 50%;
}

.img_wsp {
  height: 3rem; /* Alto del bloque, ajusta según sea necesario */
  width: 3rem; /* Ancho del bloque, ajusta según sea necesario */
  margin-top: 20rem;
  margin-left: -20rem;
  border-radius: 20%;
}

.img_git {
  position: absolute;
  top: 42.9rem; /* Posición vertical */
  left: 47.7rem; /* Posición horizontal */
  height: 3rem;
  width: auto;
  border-radius: 20%;
}
.img_wsp {
  position: absolute;
  top: 15.8rem; /* Posición vertical */
  left: 75rem; /* Posición horizontal */
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
}
.img_html {
  position: absolute;
  top: 20rem; /* Posición vertical */
  left: 76rem; /* Posición horizontal */
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
}
.img_css {
  position: absolute;
  top: 33.5rem; /* Posición vertical */
  left: 73.5rem; /* Posición horizontal */
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
}
.img_js {
  position: absolute;
  top: 30.3rem; /* Posición vertical */
  left: 70.5rem; /* Posición horizontal */
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
}
.img_py {
  position: absolute;
  top: 37.5rem; /* Posición vertical */
  left: 76.4rem; /* Posición horizontal */
  height: 3rem;
  width: 3rem;
  border-radius: 20%;
}

.knowledge {
  width: 135px;
  height: 53px;
  display: flex;
  flex-shrink: 0;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serifS;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -1.3rem;
  margin-left: 4rem;
}

.parrafo_k {
  width: 35rem;
  height: 20%;
  display: flex;
  flex-shrink: 0;
  color: #fff;
  font-family: "JetBrains Mono";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
  margin-left: -8rem;
  object-fit: fill;
  border-radius: 50%;
}

.gif_fnj {
  height: 15rem;
  width: auto;
  border-radius: 20%;
  position: absolute;
  bottom: 21rem;
  right: 38rem;
}

.gif_pc {
  height: 16rem;
  width: auto;
  border-radius: 20%;
  position: absolute;
  top: 2rem;
  left: 95rem;
}
.certifies {
    width: 135px;
    height: 53px;
    display: flex;
    flex-shrink: 0;
    color: #fff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serifS;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -1.9rem;
    margin-left: 8rem;
  }
.img_email{
    position: absolute;
    bottom: 22.6rem; /* Posición vertical */
    left: 58rem; /* Posición horizontal */
    height: 3rem;
    width: auto;
    border-radius: 20%;
}